.fix_cow_p1 {
    width: 32vw;
    height: 27vw;
    background-image: url(../img/page1/blue_cow@2x.png);
}

.fix_cow_p2 {
    width: 26.6vw;
    height: 20.8vw;
    opacity: 0;
    left: 0vw;
}

.fix_cow {
    width: 28.6vw;
    height: 22.8vw;
    bottom: 16.5vw;
    left: 0vw;
    opacity: 0;
    transition: all .5s;
    background-image: url(../img/page3/cow_sec@2x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    pointer-events: none;
    position: fixed;
}

.fix_cow_p2 {
    position: absolute;
    left: 15vw;
    opacity: 1;
    width: 28.6vw;
    height: 22.8vw;
    bottom: 0;
    transition: all 2s;
}

.fix_cow_p3 {
    position: fixed;
    left: 15vw;
    opacity: 1;
    width: 28.6vw;
    height: 22.8vw;
    bottom: 16.5vw;
    transition: all 2s;
}

.fix_cow_p6 {
    position: fixed;
    width: 21vw;
    height: 16.8vw;
    bottom: 18.5vw;
    left: 29vw;
    opacity: 1;
    transition: all 2s;
}

.fix_cow_p7 {
    position: fixed;
    width: 17vw;
    height: 13.8vw;
    bottom: 22.5vw;
    left: 17.3vw;
    opacity: 1;
    transition: all 2s;
}

.fix_cow_p8 {
    position: fixed;
    width: 17vw;
    height: 13.8vw;
    bottom: 22.5vw;
    left: 27vw;
    opacity: 1;
    transition: all 2s;
    background-image: url(../img/page3/cow_sec@2x.png);
}

.fix_cow_p9 {
    position: fixed;
    width: 17vw;
    height: 13.8vw;
    bottom: 22.5vw;
    left: 27vw;
    opacity: 1;
    transition: all 2s;
    background-image: url(../img/page3/cow_sec@2x.png);
}

.fix_cow_p10 {
    position: fixed;
    opacity: 1;
    width: 23vw;
    height: 20vw;
    bottom: 32vw;
    left: 39vw;
    background-image: url(../img/page1/blue_cow@2x.png);
    transition: all 1s;
    z-index: 20;
}

.prl1 {
    position: sticky;
    top: 13.5vw;
    z-index: 9;
    padding: 0 0 44vw;
    transition: 2s;
}

.prl1 .cows_all {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
}

.s {
    width: 100vw;
}

.s1 {
    padding: 14vw 0 0;
}


.spain_cow_animate {
    width: 12.6vw;
    height: 13.8vw;
    left: -4.5vw;
    top: 7vw;
    transition: opacity .5s, width 2s, height 2s, left 2s, top 2s !important;
    background-image: url(../img/spain_cow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    pointer-events: none;
    position: absolute;
}

.greece_cow_animate {
    width: 23.6vw;
    height: 14.4vw;
    left: -14vw;
    top: 6vw;
    transition: opacity .5s, width 2s, height 2s, left 2s, top 2s !important;
    background-image: url(../img/greece_cow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    pointer-events: none;
    position: absolute;
}

.greece_cow_animate_p8 {
    left: -7.6vw;
    top: 6vw;
    transition: opacity .5s, width 2s, height 2s, left 2s, top 2s !important;
    opacity: 1;
}

.mexico_cow_animate {
    width: 17.6vw;
    height: 18vw;
    top: 7vw;
    left: 6vw;
    transition: opacity .5s, width 2s, height 2s, left 2s, top 2s !important;
    background-image: url(../img/mexican_cow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    pointer-events: none;
    position: absolute;
}

.mexico_cow_animate_p7 {
    width: 13.6vw;
    height: 14.3vw;
    top: 6vw;
    left: 3vw;
    opacity: 1;
    transition: opacity .5s, width 2s, height 2s, left 2s, top 2s !important;
}

.mexico_cow_animate_p8 {
    left: 10.5vw;
    width: 13.6vw;
    height: 14.3vw;
    top: 6vw;
    opacity: 1;
    transition: opacity .5s, width 2s, height 2s, left 2s, top 2s !important;
}

.india_cow_animate {
    width: 33.9vw;
    height: 24.4vw;
    left: -7vw;
    top: 2vw;
    transition: opacity .5s, width 2s, height 2s, left 2s, top 2s !important;
    background-image: url(../img/india_cow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    pointer-events: none;
    position: absolute;
}

.india_cow_animate_p6 {
    width: 24.3vw;
    height: 18vw;
    left: 10vw;
    top: 6.5vw;
    opacity: 1;
    transition: opacity .5s, width 2s, height 2s, left 2s, top 2s !important;
}

.india_cow_animate_p7 {
    width: 18.9vw;
    height: 13.7vw;
    left: 4vw;
    top: 6.5vw;
    opacity: 1;
    transition: opacity .5s, width 2s, height 2s, left 2s, top 2s !important;
}

.india_cow_animate_p8 {
    width: 17.9vw;
    height: 12.7vw;
    left: 14vw;
    top: 6.5vw;
    opacity: 1;
    transition: opacity .5s, width 2s, height 2s, left 2s, top 2s !important;
}

.egypt_cow_animate {
    width: 33.6vw;
    height: 26.3vw;
    top: 0;
    left: 0;
    transition: opacity .5s, width 2s, height 2s, left 2s, top 2s !important;
    background-image: url(../img/egypt_cow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    pointer-events: none;
    position: absolute;
}

.egypt_cow_animate_p6 {
    width: 23vw;
    height: 19.3vw;
    left: 18vw;
    top: 5.5vw;
    opacity: 1;
    transition: opacity .5s, width 2s, height 2s, left 2s, top 2s !important;
}

.egypt_cow_animate_p7 {
    width: 18.9vw;
    height: 15vw;
    left: 9vw;
    top: 5.5vw;
    opacity: 1;
    transition: opacity .5s, width 2s, height 2s, left 2s, top 2s !important;
}

.egypt_cow_animate_p8 {
    width: 17.9vw;
    height: 14.7vw;
    left: 19vw;
    top: 5.5vw;
    opacity: 1;
    transition: opacity .5s, width 2s, height 2s, left 2s, top 2s !important;
}

.opacity {
    opacity: 0 !important;
}

@media all and (max-width:1920px) and (max-height:970px) {
    .prl1 {
        top: 10.5vw;
        padding: 0 0 39vw;
    }

    .s1 {
        padding: 10vw 0 0;
    }
}

@media all and (max-width:1600px) {
    .prl1 {
        top: 16.5vw;
        padding: 0 0 39vw;
    }

    .s1 {
        padding: 14vw 0 0;
    }
}

@media all and (max-width:1440px) {

    .egypt_cow_animate {
        top: 3vw;
    }

    .india_cow_animate {
        top: 5vw;
    }

    .mexico_cow_animate {
        top: 5vw;
    }

    .mexico_cow_animate_p7,
    .mexico_cow_animate_p8 {
        top: 3.5vw;
    }

    .greece_cow_animate {
        top: 4.5vw;
    }

    .spain_cow_animate {
        top: 5vw;
    }

    .prl1 {
        padding: 0 0 45.5vw;
    }

}

@media all and (max-width:1440px) and (max-height:800px) {
    .egypt_cow_animate {
        top: -3.5vw;
    }

    .india_cow_animate {
        top: -2vw;
    }

    .india_cow_animate_p6 {
        top: 4vw;
    }

    .india_cow_animate_p7 {
        top: 5vw;
    }

    .india_cow_animate_p8 {
        top: 5vw;
    }

    .egypt_cow_animate_p6 {
        top: 3vw;
    }

    .egypt_cow_animate_p7 {
        top: 4vw;
    }

    .egypt_cow_animate_p8 {
        top: 4vw;
    }

    .mexico_cow_animate_p8 {
        top: 4vw;
    }

    prl1 {
        padding: 0 0 38.5vw;
    }
}

@media all and (max-width:1440px) and (max-height:760px) {

    .egypt_cow_animate {
        top: -3.5vw;
    }

    .egypt_cow_animate_p6 {
        width: 23vw;
        height: 19.3vw;
        left: 18vw;
        top: 1vw;
    }

    .egypt_cow_animate_p7 {
        top: 1vw;
    }

    .egypt_cow_animate_p8 {
        top: 1vw;
    }

    .india_cow_animate {
        top: -1vw;
    }

    .india_cow_animate_p6 {
        top: 2vw;
    }

    .india_cow_animate_p7 {
        top: 2vw;
    }

    .india_cow_animate_p8 {
        top: 2vw;
    }

    .mexico_cow_animate {
        top: 2vw;
    }

    .mexico_cow_animate_p7 {
        top: 1.5vw;
    }

    .mexico_cow_animate_p8 {
        top: 1.5vw;
    }

    .greece_cow_animate {
        top: 2vw;
    }

    .spain_cow_animate {
        top: 3vw;
    }

    .prl1 {
        padding: 0 0 37vw;
    }
}

@media all and (max-width:1440px) and (max-height:720px) {

    .prl1 {
        padding: 0 0 34vw;
    }
}

@media all and (max-width:1366px) and (max-height:768px) {
    .egypt_cow_animate {
        top: -0.5vw;
    }

    .egypt_cow_animate_p6 {
        top: 4vw;
    }

    .egypt_cow_animate_p7 {
        top: 4vw;
    }

    .india_cow_animate {
        top: 2vw;
    }

    .india_cow_animate_p6 {
        top: 5vw;
    }

    .prl1 {
        padding: 0 0 39.5vw;
    }
}

@media all and (max-width:1366px) and (max-height:720px) {
    .egypt_cow_animate {
        top: -1.5vw;
    }

    .egypt_cow_animate_p6 {
        top: 4vw;
    }

    .egypt_cow_animate_p7 {
        top: 3vw;
    }

    .egypt_cow_animate_p8 {
        top: 3vw;
    }

    .india_cow_animate {
        top: 1vw;
    }

    .india_cow_animate_p6 {
        top: 5vw;
    }

    .india_cow_animate_p7 {
        top: 4vw;
    }

    .india_cow_animate_p8 {
        top: 4vw;
    }

    .mexico_cow_animate {
        top: 5vw;
    }

    .mexico_cow_animate_p7 {
        top: 4vw;
    }

    .mexico_cow_animate_p8 {
        top: 4vw;
    }

    .greece_cow_animate {
        top: 4vw;
    }

    .spain_cow_animate {
        top: 5.5vw;
    }

    .prl1 {
        padding: 0 0 38vw;
    }

}

@media all and (max-width:1280px) and (max-height:850px) {
    .egypt_cow_animate {
        top: 7vw;
    }

    .egypt_cow_animate_p6 {
        top: 7vw;
    }

    .egypt_cow_animate_p7 {
        top: 7vw;
    }

    .egypt_cow_animate_p8 {
        top: 7vw;
    }

    .india_cow_animate {
        top: 9vw;
    }

    .india_cow_animate_p6 {
        top: 8.5vw;
    }

    .india_cow_animate_p7 {
        top: 8.5vw;
    }

    .india_cow_animate_p8 {
        top: 8.5vw;
    }

    .mexico_cow_animate {
        top: 9vw;
    }

    .mexico_cow_animate_p7 {
        top: 8.5vw;
    }

    .mexico_cow_animate_p8 {
        top: 8vw;
    }

    .greece_cow_animate {
        top: 8.5vw;
    }

    .spain_cow_animate {
        top: 8vw;
    }

    .prl1 {
        padding: 0 0 51vw;
    }
}

@media all and (max-width:1280px) and (max-height:800px) {
    .egypt_cow_animate {
        top: 3vw;
    }

    .egypt_cow_animate_p6 {
        top: 10vw;
    }

    .egypt_cow_animate_p7 {
        top: 11vw;
    }

    .egypt_cow_animate_p8 {
        top: 11vw;
    }

    .india_cow_animate {
        top: 5vw;
    }

    .india_cow_animate_p6 {
        top: 11.5vw;
    }

    .india_cow_animate_p7 {
        top: 12vw;
    }

    .india_cow_animate_p8 {
        top: 12vw;
    }

    .mexico_cow_animate {
        top: 12vw;
    }

    .mexico_cow_animate_p7 {
        top: 11.5vw;
    }

    .mexico_cow_animate_p8 {
        top: 11.5vw;
    }

    .greece_cow_animate {
        top: 11.5vw;
    }

    .spain_cow_animate {
        top: 12.5vw;
    }

    .prl1 {
        padding: 0 0 46vw;
    }

}

@media all and (max-width:1280px) and (max-height:720px) {
    .egypt_cow_animate {
        top: 0vw;
    }

    .egypt_cow_animate_p6 {
        top: 7vw;
    }

    .egypt_cow_animate_p7 {
        top: 6vw;
    }

    .egypt_cow_animate_p8 {
        top: 6vw;
    }

    .india_cow_animate {
        top: 2vw;
    }

    .india_cow_animate_p6 {
        top: 8.5vw;
    }

    .india_cow_animate_p7 {
        top: 7vw;
    }

    .india_cow_animate_p8 {
        top: 7vw;
    }

    .mexico_cow_animate {
        top: 8vw;
    }

    .mexico_cow_animate_p7 {
        top: 7.5vw;
    }

    .mexico_cow_animate_p8 {
        top: 7.5vw;
    }

    .greece_cow_animate {
        top: 7.5vw;
    }

    .greece_cow_animate_p8 {
        top: 7.5vw;
    }

    .spain_cow_animate {
        top: 7.5vw;
    }

    .prl1 {
        padding: 0 0 40vw;
    }

}

@media all and (max-width:1280px) and (max-height:650px) {
    .egypt_cow_animate {
        top: -5vw;
    }

    .egypt_cow_animate_p6 {
        top: 1.5vw;
    }

    .egypt_cow_animate_p7 {
        top: 1vw;
    }

    .egypt_cow_animate_p8 {
        top: 1vw;
    }

    .india_cow_animate {
        top: -3vw;
    }

    .india_cow_animate_p6 {
        top: 2.5vw;
    }

    .india_cow_animate_p7 {
        top: 2vw;
    }

    .india_cow_animate_p8 {
        top: 2vw;
    }

    .mexico_cow_animate {
        top: 2.5vw;
    }

    .mexico_cow_animate_p7 {
        top: 1.5vw;
    }

    .mexico_cow_animate_p8 {
        top: 1.5vw;
    }

    .greece_cow_animate {
        top: 2vw;
    }

    .greece_cow_animate_p8 {
        top: 0.5vw;
    }

    .spain_cow_animate {
        top: 2.5vw;
    }

    .prl1 {
        padding: 0 0 34vw;
    }

}


@media all and (max-width:1112px) and (max-height:834px) {
    .egypt_cow_animate {
        top: 5vw;
    }

    .egypt_cow_animate_p6 {
        top: 8.5vw;
    }

    .egypt_cow_animate_p7 {
        top: 7vw;
    }

    .egypt_cow_animate_p8 {
        top: 7vw;
    }

    .india_cow_animate {
        top: 7vw;
    }

    .india_cow_animate_p6 {
        top: 10vw;
    }

    .india_cow_animate_p7 {
        top: 8vw;
    }

    .india_cow_animate_p8 {
        top: 8vw;
    }

    .mexico_cow_animate {
        top: 10.5vw;
    }

    .mexico_cow_animate_p7 {
        top: 9vw;
    }

    .mexico_cow_animate_p8 {
        top: 9vw;
    }

    .greece_cow_animate {
        top: 9vw;
    }

    .greece_cow_animate_p8 {
        top: 10.5vw;
    }

    .spain_cow_animate {
        top: 8.5vw;
    }

    .prl1 {
        padding: 0 0 58vw;
    }

}

@media all and (max-width:1024px) {
    .mexico_cow_animate_p7 {
        top: 8vw;
    }

    .mexico_cow_animate_p8 {
        top: 8vw;
    }

    .greece_cow_animate_p8 {
        top: 8.5vw;
    }

    .prl1 {
        padding: 0 0 60vw;
    }
}

@media all and (max-width:900px) and (max-height:1280px) {

    .egypt_cow_animate {
        width: 40.6vw;
        height: 34.3vw;
        top: 41vw;
        left: -7vw;
    }

    .egypt_cow_animate_p6 {
        width: 31vw;
        height: 26.3vw;
        left: 9vw;
        top: 44vw;
    }

    .egypt_cow_animate_p7 {
        width: 36.9vw;
        height: 29vw;
        left: 16vw;
        top: 13vw;
    }

    .egypt_cow_animate_p8 {
        width: 29.6vw;
        height: 23.3vw;
        top: 13vw;
        left: 29vw;
    }

    .india_cow_animate {
        top: 42vw;
        width: 43.9vw;
        height: 32.4vw;
        left: -19vw;
    }

    .india_cow_animate_p6 {
        top: 45vw;
        width: 34.9vw;
        height: 25.4vw;
        left: -2vw;
    }

    .india_cow_animate_p7 {
        top: 16vw;
        width: 34.9vw;
        height: 25.4vw;
        left: 10vw;
    }

    .india_cow_animate_p8 {
        top: 16vw;
        width: 30.9vw;
        height: 22.4vw;
        left: 18vw;
    }

    .mexico_cow_animate {
        width: 24.6vw;
        height: 25vw;
        top: 45vw;
        left: 1vw;
    }

    .mexico_cow_animate_p7 {
        top: 16.5vw;
        width: 25.6vw;
        height: 26.3vw;
        left: 6vw;
    }

    .mexico_cow_animate_p8 {
        left: 16.5vw;
        width: 22.6vw;
        height: 22.3vw;
        top: 17vw;
    }

    .greece_cow_animate {
        top: 20.5vw;
        width: 37.6vw;
        height: 23.4vw;
        left: -20vw;
    }

    .greece_cow_animate_p8 {
        top: 17.5vw;
        width: 37.6vw;
        height: 23.4vw;
        left: -9vw;
    }

    .spain_cow_animate {
        top: 15vw;
        width: 21.6vw;
        height: 23.8vw;
        left: -4.5vw;
    }

    .prl1 {
        padding: 0 0 127vw;
    }
}

@media all and (max-width:768px) {
    .egypt_cow_animate {
        top: 32vw;
    }

    .egypt_cow_animate_p6 {
        top: 35vw;
    }

    .egypt_cow_animate_p7 {
        width: 36.9vw;
        height: 29vw;
        left: 16vw;
        top: 13vw;
    }

    .egypt_cow_animate_p8 {
        width: 36.9vw;
        height: 29vw;
        left: 16vw;
        top: 13vw;
    }

    .india_cow_animate {
        top: 34vw;
    }

    .india_cow_animate_p6 {
        top: 36vw;
    }

    .india_cow_animate_p7 {
        top: 16vw;
        width: 34.9vw;
        height: 25.4vw;
        left: 10vw;
    }

    .india_cow_animate_p8 {
        top: 16vw;
        width: 34.9vw;
        height: 25.4vw;
        left: 10vw;
    }

    .mexico_cow_animate {
        top: 36vw;
        left: -2vw;
    }

    .mexico_cow_animate_p7 {
        top: 16.5vw;
        width: 25.6vw;
        height: 26.3vw;
        left: 6vw;
    }

    .mexico_cow_animate_p8 {
        top: 16.5vw;
        width: 25.6vw;
        height: 26.3vw;
        left: 6vw;
    }

    .greece_cow_animate {
        top: 19.5vw;
        width: 37.6vw;
        height: 23.4vw;
        left: -20vw;
    }
}


@media all and (max-width:500px) {
    .egypt_cow_animate {
        top: 27vw;
    }

    .egypt_cow_animate_p6 {
        top: 38vw;
    }

    .egypt_cow_animate_p7 {
        top: 13vw;
    }

    .egypt_cow_animate_p8 {
        width: 29.6vw;
        height: 23.3vw;
        top: 13vw;
        left: 29vw;
    }

    .india_cow_animate {
        top: 29vw;
    }

    .india_cow_animate_p6 {
        top: 39vw;
    }

    .india_cow_animate_p7 {
        top: 17vw;
    }

    .india_cow_animate_p8 {
        top: 14vw;
        width: 30.9vw;
        height: 22.4vw;
        left: 18vw;
    }

    .mexico_cow_animate {
        top: 39vw;
    }

    .mexico_cow_animate_p7 {
        top: 16.5vw;
        width: 25.6vw;
        height: 26.3vw;
        left: 6vw;
    }

    .mexico_cow_animate_p8 {
        top: 14.5vw;
        left: 18vw;
        width: 22.6vw;
        height: 23.3vw;
    }

    .greece_cow_animate {
        top: 17.5vw;
        width: 37.6vw;
        height: 23.4vw;
        left: -20vw;
    }

    greece_cow_animate_p8 {
        top: 14.5vw;
        width: 37.6vw;
        height: 23.4vw;
        left: -10vw;
    }

    .prl1 {
        padding: 0 0 571px;
    }
}

@media all and (max-width:425px) {
    .egypt_cow_animate {
        top: 47vw;
    }

    .egypt_cow_animate_p6 {
        top: 55vw;
    }

    .egypt_cow_animate_p7 {
        top: 51vw;
    }

    .egypt_cow_animate_p8 {
        width: 30.6vw;
        height: 24.3vw;
        top: 52vw;
        left: 29vw;
    }

    .india_cow_animate {
        top: 48vw;
    }

    .india_cow_animate_p6 {
        top: 55vw;
    }

    .india_cow_animate_p7 {
        top: 55vw;
    }

    .india_cow_animate_p8 {
        top: 55vw;
        width: 30.9vw;
        height: 22.4vw;
        left: 18vw;
    }

    .mexico_cow_animate {
        top: 55vw;
    }

    .mexico_cow_animate_p7 {
        top: 53vw;
        width: 25.6vw;
        height: 26.3vw;
        left: 6vw;
    }

    .mexico_cow_animate_p8 {
        top: 53vw;
        left: 15vw;
    }

    .greece_cow_animate {
        top: 54.5vw;
        width: 40.6vw;
        height: 24.4vw;
        left: -23vw;
    }

    .greece_cow_animate_p8 {
        top: 54.5vw;
        width: 40.6vw;
        height: 24.4vw;
        left: -12vw;
    }

    .spain_cow_animate {
        top: 55vw;
    }

    .prl1 {
        padding: 0px 0 707px;
    }

}

@media all and (max-width:414px) {
    .egypt_cow_animate {
        top: 49vw;
    }

    .egypt_cow_animate_p6 {
        top: 57vw;
    }

    .egypt_cow_animate_p7 {
        top: 53vw;
    }

    .egypt_cow_animate_p8 {
        width: 27vw;
        height: 23.3vw;
        top: 56vw;
        left: 29vw;
    }

    .india_cow_animate {
        top: 50vw;
    }

    .india_cow_animate_p6 {
        top: 58vw;
    }

    .india_cow_animate_p7 {
        top: 56vw;
    }

    .india_cow_animate_p8 {
        top: 57vw;
        width: 30.9vw;
        height: 22.4vw;
        left: 18vw;
    }

    .mexico_cow_animate {
        top: 58vw;
    }

    .mexico_cow_animate_p7 {
        top: 55vw;
        width: 25.6vw;
        height: 26.3vw;
        left: 6vw;
    }

    .mexico_cow_animate_p8 {
        top: 55vw;
        left: 15vw;
    }


    .greece_cow_animate {
        top: 56.5vw;
        width: 40.6vw;
        height: 24.4vw;
        left: -23vw;
    }

    .greece_cow_animate_p8 {
        left: -12vw;
    }

    .prl1 {
        padding: 0px 0 669px;
    }
}
@media all and (max-width:393px) and (max-height:851px) {
    
    .egypt_cow_animate {
        top: 58vw;
    }

    .india_cow_animate {
        top: 60vw;
    }

    .prl1 {
        padding: 0px 0 639px;
    }
}

@media all and (max-width:375px) {
    .egypt_cow_animate {
        top: 10vw;
    }
    .egypt_cow_animate_p8 {
    top: 12vw;
}

    .india_cow_animate {
        top: 12vw;
    }

    .mexico_cow_animate {
        top: 12vw;
    }

    .mexico_cow_animate_p7 {
        top: 13.5vw;
        width: 25.6vw;
        height: 26.3vw;
        left: 6vw;
    }

    .mexico_cow_animate_p8 {
        top: 11.5vw;
        left: 15vw;
    }

    .greece_cow_animate {
        top: 15.5vw;
        width: 40.6vw;
        height: 24.4vw;
        left: -23vw;
    }

    .greece_cow_animate_p8 {
        top: 11.5vw;
        width: 40.6vw;
        height: 24.4vw;
        left: -12vw;
    }

    .spain_cow_animate {
        top: 12vw;
        width: 21.6vw;
        height: 23.8vw;
        left: -4.5vw;
    }

    .prl1 {
        padding: 0px 0 472px;
    }
}
