.page5 {
    width: 100%;
    height: 100vh;
    background-color: #DFEEF7;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0vw 0 0;
    right: 0;
}


.page5 .cloud {
    width: 100%;
    height: 26vw;
    background-image: url(../img/page5/p5_clouds@2x.png);
    background-position: 80% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -5.2vw;
    right: 0;
}

.page5 .tadj {
    height: 21vw;
    width: 100%;
    position: relative;
    background-image: url(../img/page5/p5_hills@2x.png);
    background-position: 84% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    pointer-events: none;
    display: flex;
    justify-content: flex-end;
    top: 33vw;
}

.page5 .rode {
    height: 33vw;
    width: 100%;
    position: absolute;
    background-image: url(../img/page5/mexico_rode.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    pointer-events: none;
    top: 0.8vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0 9vw 1vw 0;
}

.page5 .mexican {
    height: 21.3vw;
    width: 35vw;
    position: absolute;
    background-image: url(../img/page5/mexican.png);
    background-position: -415% 47%;
    background-repeat: no-repeat;
    background-size: 102%;
    right: 0;
    top: -11vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0vw 1.5vw 0vw 0vw;
}

.page5 h1 {
    color: white;
    font-size: 2.4vw;
    font-weight: 900;
}

.page5 h1 span {
    font-weight: 100;
}

.page5 .cow_section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    bottom: 17vw;
}

.page5 .cow_section .blue_cow_block {
    width: 43vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    right: 0;
}
.page5 .cow_section .flower1 {
    position: absolute;
    margin: 0 0 0vw;
    width: 52px;
    animation: rotate 18s ease alternate infinite;
}

.page5 .blue_cow_block .hills {
    width: 87%;
    height: 40px;
    background-image: url(../img/page5/mexico_cows_hills@2x.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    pointer-events: none;
    position: absolute;
    bottom: -9px;
    left: 0;
    z-index: 10;
}

.page5 .cow_section .mexico_cow_block {
    width: 23.6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1vw;
    margin: 0px 0 0 5vw;
}

.page5 .cow_section .mexico_cow_p3 {
    width: 100%;
    height: 25vw;
    background-image: url(../img/page5/mexico_cow@2x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    pointer-events: none;
    opacity: 1 !important;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page5 .mexico_cow_block .hills {
    width: 64%;
    height: 3.9vw;
    background-image: url(../img/page5/mexico_cow_hills@2x.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    pointer-events: none;
    position: absolute;
    bottom: -7px;
    right: 0;
}

.page5 .cont_sec {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    z-index: 15;
    bottom: 0vw;
    right: 0;
    overflow: hidden;
}

.page5 .cont_sec .text_box {
   font-family: 'Montserrat', sans-serif;
    font-size: 1.4vw;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F9F8F2;
    border-radius: 37px 37px 0 0;
    padding: 3.1vw;
    position: relative;
    z-index: 12;
}

.page5 .left_box {
    width: 44vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 13;
    margin: 0 -3vw 0 0;
    padding: 0 0 1.8vw;
}

.page5 .left_box .cactus1 {
    width: 55%;
    height: 19vw;
    background-image: url(../img/page5/cactus_mexico_left1@2x.png);
    background-position: 92% 50%;
    background-repeat: no-repeat;
    background-size: 107%;
    position: relative;
    z-index: 14;
    animation: wind-cactus1 3s ease alternate infinite;
}

.page5 .left_box .cactus2 {
    width: 48%;
    height: 16vw;
    position: absolute;
    z-index: 13;
    right: 0;
    background-image: url(../img/page5/cactus_mexico_left2@2x.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    animation: wind-cactus2 5s ease alternate infinite;
}


.page5 .cont_sec .right_box {
    width: 24%;
    height: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding: 0 0 0.8vw;
    right: 0;
    background-image: url(../img/page5/cactus_mexico_right@2x.png);
    background-position: -24% 50%;
    background-repeat: no-repeat;
    background-size: 103%;
    animation: wind-cactus3 5s ease alternate infinite;
    overflow: hidden;
}

.page5 .right_box .flower {
    width: 100%;
    height: 100%;
    background-image: url(../img/page5/cactus_mexico_right@2x.png);
    background-position: -321% 50%;
    background-repeat: no-repeat;
    background-size: 102%;

}
